:root {
  --color-tertiary-yellow-green-50: #f3ffdc;
  --color-tertiary-yellow-green-100: #e1fcad;
  --color-tertiary-yellow-green-200: #cbef9b;
  --color-tertiary-yellow-green-300: #b6e289;
  --color-tertiary-yellow-green-400: #a4cc7c;
}
