.primary {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 18px 40px;
  gap: 5.57px;
  font-size: 17px;
  border: none;
  background-color: #4caf4f;
  border-radius: 2.78428px;
  color: white;

  font-weight: 500;

  color: #ffff;
  cursor: pointer;
}

.secondary {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 12px 25px;
  gap: 5.57px;

  background: #ffffff;

  border: 1px solid #4caf4f;
  border-radius: 4px;
}

.tertiary {
  border: 0px;
  display: flex;
  gap: 5.57px;

  font-weight: 600;
  font-size: 20px;
  align-items: center;
  color: #4caf4f;
  cursor: pointer;
}
